body{margin: auto;}

.content {min-height: 400px;}
.page-header h1 {margin: 0;}
.container > footer p {text-align: center; /* centrer le footer */}
.clearfix textarea {width: 400px;height: 300px;}
.cacher_notif {display: block;float: right;}
.article img {float: left;margin: 0 0.5em 0.5em 0;}
.spacer {clear: both;}


.main_nav{
    background-color: rgb(69, 81, 95);
    border-radius: 4px;
    min-height: 500px;
}

.main_nav>h2{
    margin-left:  20px;
}
.main_nav>form{margin: 20px;}

#btnsearch{
    margin-bottom: 10px;
}
#search{
    margin-top: 13px;
    margin-left: 670px;
}

.articleifimg{
    height: 300px;
}

.fondbleu{
    background-color: rgb(69, 81, 95);
    border-radius: 4px;
    width: 450px;;
    float: left;
    margin-right: 20px;

}
.fondbleu>h2{
        margin-left:5%;
}

